unisims
vivado_*
syntax_*
simulation/*
simulation_data/*
www/*
constraints/*
ise_*
attic/*
hardware_tests/*
IVERILOG_INCLUDE.v
x393.prj
*DEBUG_VDT*
*.kate-swp
*.old
*.new
*.bad
*.pyc
*.pickle
py393/dbg*
debug
includes/x393_cur_params_sim.vh
includes/x393_cur_params_target_*.vh
py393/exp_gpio.py
py393/mon_gpio.py
savefile01.sav
x353
compressor_jp/huff_fifo353.v
x393_testbench0-a1.sav
x393_testbench01-*.sav
x393_testbench01.gtkw
x393_testbench01_backup.sav
x393_testbench01_debug_membridge.sav
x393_testbench02-0.sav
py393/generated
*.pickle
py393/i2c.py

py393/x393_i2c.py.test
py393/x393_init_usb_hub.py
py393/x393_mcntrl_adjust.py.dbg
x393_testbench03_01.sav
